<h3 *ngIf="languages.length === 0">Loading...</h3>
<div class="container" *ngIf="languages.length > 0">
  <h3>Employee Forms</h3>
  <form #form="ngForm" novalidate (submit)="submitForm(form)">

    <div class="form-group"
         [class.has-error]="firstName.invalid && firstName.touched">
      <label class="control-label">First Name</label>
      <input #firstName="ngModel" type="text"
             class="form-control"
             placeholder="First Name"
             required
             pattern="...+"
             name="firstName"
             [ngModel]="model.firstName"
             (ngModelChange)="firstNameToUpperCase($event)">
      <div class="alert alert-danger"
           *ngIf="firstName.invalid && firstName.touched">
        First name is required, and must be at least 3 characters.
      </div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input #lastName="ngModel" type="text"
             class="form-control"
             placeholder="Last Name"
             required
             name="lastName" [(ngModel)]="model.lastName">
      <div class="alert alert-danger"
           *ngIf="firstName.invalid && firstName.touched">
        Last name is required, and must be at least 3 characters.
      </div>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox"
               name="is-full-time"
               [(ngModel)]="model.isFullTime">Full Time Employee
      </label>
    </div>

    <label>Payment Type</label>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType"
               [(ngModel)]="model.paymentType"
               value="w2" checked>W2
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType"
               [(ngModel)]="model.paymentType"
               value="1099">1099
      </label>
    </div>

    <div class="form-group"
         [class.has-error]="hasPrimaryLanguageError">
      <label class="control-label">Primary Language</label>
      <select class="form-control"
              name="primaryLanguage"
              #primaryLanguage
              (blur)="validatePrimaryLanguage(primaryLanguage.value)"
              (change)="validatePrimaryLanguage(primaryLanguage.value)"
              [(ngModel)]="model.primaryLanguage">
        <option value="default">Select a Language...</option>
        <option *ngFor="let lang of languages">
          {{ lang }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Familiarity</label>
      <div class="btn-group">
        <label class="btn btn-primary"
               btnRadio="0"
               name="familiarityLevel" [(ngModel)]="familiarityLevel">
          Low
        </label>
        <label class="btn btn-primary"
               btnRadio="1"
               name="familiarityLevel" [(ngModel)]="familiarityLevel">
          Medium
        </label>
        <label class="btn btn-primary"
               btnRadio="2"
               name="familiarityLevel" [(ngModel)]="familiarityLevel">
          High
        </label>
      </div>
      <!--<h4>{{familiarityLevel}}</h4>-->
    </div>

    <div class="form-group" style="display: inline-block;">
      <label>Date Hired</label>
      <datepicker name="startDate" [(ngModel)]="startDate"
                  [startingDay]="1"
                  [minDate]="minDate"
                  [datepickerMode]="'day'"
                  [showWeeks]="false">
      </datepicker>
      <!--<h4>{{startDate}}</h4>-->
    </div>

    <div class="form-group">
      <label>Working Hour Start</label>
      <timepicker name="startTime" [(ngModel)]="startTime"
                  [minuteStep]="15">
      </timepicker>
      <!--<h4>{{startTime}}</h4>-->
    </div>

    <!--<div class="form-group">-->
      <!--<button type="button" class="btn btn-primary"-->
              <!--btnCheckbox-->
              <!--btnCheckboxTrue="1" btnCheckboxFalse="0"-->
              <!--name="onOffSwitch" [(ngModel)]="onOffSwitch">-->
        <!--On / Off-->
      <!--</button>-->
      <!--<h4>{{onOffSwitch}}</h4>-->
    <!--</div>-->

    <div class="form-group">
      <label>On Project:</label>
      <br>
      <button type="button"
              class="btn" [class.btn-primary]="onOffSwitch === 'On'"
              btnCheckbox
              btnCheckboxTrue="On" btnCheckboxFalse="Off"
              name="onOffSwitch" [(ngModel)]="onOffSwitch">
        {{onOffSwitch}}
      </button>
      <!--<h4>{{onOffSwitch}}</h4>-->
    </div>

    <div class="form-group">
      <label>Skill Rating:</label>
      <rating name="skillRating" [(ngModel)]="skillRating"
              max="10"
              (onHover)="ratingHover($event)"
              (onLeave)="ratingLeave($event)"
              [stateOn]="'glyphicon-check'"
              [stateOff]="'glyphicon-unchecked'">
      </rating>
      <!--<h4>{{skillRating}}</h4>-->
    </div>

    <button class="btn btn-primary"
            [disabled]="form.invalid"
            type="submit">
      OK
    </button>
  </form>
</div>

